# ===================================================================
# CONFIGURACIÓN DE LA BASE DE DATOS (MySQL)
# ===================================================================
MYSQL_DATABASE=hospital
MYSQL_USER=tu_usuario_local
MYSQL_PASSWORD=tu_contrasena_segura
MYSQL_ROOT_PASSWORD=tu_contrasena_root_segura

# ===================================================================
# CONFIGURACIÓN DE CONEXIÓN DE PHP
# ===================================================================
MYSQL_HOST=mysql